body {
    background: #d9d9d9;
    color: #2b2a2a;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.logo {
    margin: 0;
    padding: 0;
}
a {
    color: #2b2a2a;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
    float: right;
    margin: 39px;
    font-size: 14px;
}
a:hover {
    color: #ea4d33;
    text-decoration: underline;
}
.header {
    height: 100px;
    border-bottom: 2px solid #333333;
    display: flex;
    justify-content: space-between;
}
.header_logo {
    margin: 25px 0px 0px 39px;
}
.singup {
    text-align: center;
}
.login {
    margin: 20px 0px 0px 0px;
    padding: 0px;
}
.color{
    display: flex;
}
.color_form {
    align-self:center;
}
select {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    text-align: center;
    background-color: #d9d9d9;
    color: #2b2a2a;
}
.portfolio {
    text-align: center;
    display: flex;
    justify-content:space-between;
    margin: 39px 0px 39px 0px;
}
.img {
    width: 400px;
    height: 400px;
}
.main_content {
    width: 800px;
    height: 400px;
}
h1 {
    padding: 0;
    margin: 0;
    color: #ea4d33;
}
.text {
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;
}
.ul, p {
    padding: 0;
    margin: 0;
}
.main_summary {
    margin: 0 auto;
}
.main_review {
    margin: 0 auto;
    text-align: center;
}
.ul {
    list-style-type: none;
}
.cinema_flex {
    display: flex;
    justify-content: space-between;
    padding: 39px 0px 39px 0px;
}
.cinema  {
    width: 280px;
    height: 450px;
}
h2 {
    text-align: center;
}
.cinema_1, .cinema_2, .cinema_3, .cinema_4 {
    width: 588px;
    height: 900px;
}
.cinema_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
}
@media screen and (max-width: 350px) {
    .container {
        margin: 0 auto;
        padding: 0px 10px;
    }
    a {
        font-size: 25px;
    }
    .header {
        height: 100px;
        border-bottom: 2px solid #333333;
        display: flex;
        justify-content:center;
    }
    .portfolio {
        text-align: center;
        display: flex;
        flex-direction:column;
        font-size: 40px;
    }
    .img {
        max-width: 100%;
        max-height: 100%;
    }
    .main_content {
    width: 100%;
    height: 100%;
    }
    .text {
        margin: 0 auto;
        display: flex;;
        flex-direction:column;
    }
    .ul {
        margin: 10px;
    }
    .cinema_flex {
        display: flex;
        flex-direction:column;
    }
    .cinema {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
    }
    h2 {
        text-align: center;
        font-size: 40px;
    }
    .cinema_1, .cinema_2, .cinema_3, .cinema_4 {
        width: 100%;
        height: 100%;
    }
    .cinema_grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 135px;
    }
}
@media screen and (min-width: 351px) and (max-width: 699px)  {
    .container {
        margin: 0 auto;
        padding: 0px 10px;
    }
    a {
        font-size: 18px;
    }
    .header {
        height: 100px;
        border-bottom: 2px solid #333333;
        display: flex;
        justify-content:space-around;
    }
    .portfolio {
        text-align: center;
        display:flex;
        flex-wrap:wrap;
        font-size: 25px;
    }
    .main_foto {
        flex: 0 1 50%;
    }
    .main_content {
        flex: 0 1 50%;
    }
    .text {
        margin: 0 auto;
        display: flex;;
        flex-direction:column;
    }
    .ul {
        margin: 10px;
    }
.cinema_flex {
    display:flex;
    flex-wrap:wrap;
    text-align: center;
}
.godfather, .deadproof, .deadman, .pulmfiction {
    flex: 0 1 50%;
    margin-bottom: 100px;
}
.cinema {
    width: 100%;
    height: 100%;
}
h2 {
    text-align: center;
    font-size: 24px;
}
.cinema_1, .cinema_2, .cinema_3, .cinema_4 {
    width: 100%;
    height: 100%;
}
.cinema_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 100px;
}
}
@media screen and (min-width: 700px) {
    .cinema_flex {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .cinema_1, .cinema_2, .cinema_3, .cinema_4 {
        width: 280px;
        height: 450px;
    }
    .cinema_grid{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}