body {
    background: #d9d9d9;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
a {
    color: #2b2a2a;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
    float: right;
    margin: 39px;
    font-size: 14px;
}

a:hover {
    color: #ea4d33;
    text-decoration: underline;
}
.header {
    height: 100px;
    border-bottom: 1px solid #2b2a2a;
}
.header_logo {
    float: left;
    margin: 25px 0px 0px 39px;
}
main {
    padding: 25px 39px 25px 39px;
    text-align: center;
    height: 430px;
}
.main_foto {
    float: left;
    width: 44%;
}
h1 {
    color: #ea4d33;
}
.main_name {
    width: 56%;
    float: right;
}
.main_content {
    width: 56%;
    float: right;
    margin-top: 60px;
}
.main_content_summary {
    width: 50%;
    float: left;
}
.main_content_review {
    width: 50%;
    float: right;
}
li {
    list-style-type: none;
}